---
import newsList from '../../data/news.ts'
import NewsCard from '../NewsCard/index.astro'
import './styles.css'
import { sortNewsList } from '../../utils'

const sortedNewsList = sortNewsList(newsList)
---

<section class='news-cards-container'>
  {
    sortedNewsList.map(
      ({ date, description, centralImage, portal, slug, title }, index) => (
        <NewsCard
          centralImage={centralImage}
          date={date}
          description={description}
          index={index}
          portal={portal}
          slug={slug}
          title={title}
        />
      )
    )
  }
</section>
