---
import { Image } from 'astro:assets'
import './styles.css'
import { formatNewsDate, photographerUrl } from '../../utils'
import Slider from '../Slider/index.astro'
import Viewer from '../Viewer/index.astro'

const { author, centralImage, coauthor, content, date, description, photographer, portal, sliderImages, title, url } =
  Astro.props
---

<article class='news-detail'>
  <h1 class='title'>{title}</h1>

  <div class='meta'>
    <time datetime={date}>{formatNewsDate(date)}</time>

    <span>
      Publicado en
      <a href={url} target='_blank' rel='noopener noreferrer'>
        {portal}
      </a>
    </span>

    <span>
      Por {author} {coauthor && `y ${coauthor}`}
    </span>
  </div>

  <p class='description'>{description}</p>
  
  <figure class='central-image-container'>
    <Image
      alt={title}
      class='central-image'
      inferSize
      loading='eager'
      src={centralImage}
    />

    {photographer && (
      <figcaption class='central-image-caption'>
        Foto por
        {photographerUrl(photographer) ? (
          <a
            class='animated-underline'
            href={photographerUrl(photographer)}
            target='_blank'
            rel='noopener noreferrer'
          >
            {photographer}
          </a>
        ) : (
          photographer
        )}
      </figcaption>
    )}
  </figure>  

  <div class='content' set:html={content} />

  {sliderImages.length > 0 &&
    <Slider images={sliderImages} />
    <Viewer images={sliderImages} />
  }
</article>
