---
import { Image } from 'astro:assets'
import './styles.css'
import { formatNewsDate } from '../../utils'
import Slider from '../Slider/index.astro'

const { date, description, title, portal, url, images, photographer, content } =
  Astro.props
---

<article class='news-detail'>
  <h1 class='title'>{title}</h1>

  <div class='meta'>
    <time datetime={date}>{formatNewsDate(date)}</time>
    <span>
      Publicado en
      <a href={url} target='_blank' rel='noopener noreferrer'>
        {portal}
      </a>
    </span>
  </div>

  <p class='description'>{description}</p>

  {
    images[0] && (
      <figure class='central-image-container'>
        <Image
          alt={title}
          class='central-image'
          inferSize
          loading='eager'
          src={images[0]}
        />
        <figcaption class='central-image-caption'>
          Foto por
          {photographer}
        </figcaption>
      </figure>
    )
  }

  <div class='content' set:html={content} />

  {images.length > 1 && <Slider images={images.slice(1)} />}
</article>
