---
import { Image } from 'astro:assets'
import './styles.css'

interface Props {
  date: string
  description: string
  image: string
  index: number
  portal: string
  slug: string
  title: string
}

const { date, description, image, index, portal, slug, title } = Astro.props

const loading = index < 3 ? 'eager' : 'lazy'
---

<a href={`/${slug}`} class='card-link'>
  <article class='card'>
    <Image alt={title} class='image' inferSize loading={loading} src={image} />

    <div class='content'>
      <h2 class='title'>{title}</h2>
      <div class='meta'>
        <span>{date}</span>
        <span>En: {portal}</span>
      </div>
      <p class='description'>{description}</p>
      <span class='link animated-underline'>
        Leer artículo <span class='arrow'>→</span>
      </span>
    </div>
  </article>
</a>
