---
import { Image } from 'astro:assets'
import './styles.css'
import { formatNewsDate } from '../../utils'

interface Props {
  date: string
  description: string
  image: string
  index: number
  portal: string
  slug: string
  title: string
}

const { date, description, image, index, portal, slug, title } = Astro.props

const imageLoading = index < 3 ? 'eager' : 'lazy'
---

<a href={`/${slug}`} class='card-link'>
  <article class='card'>
    <Image
      alt={title}
      class='image'
      inferSize
      loading={imageLoading}
      src={image}
    />

    <div class='content'>
      <h2 class='title'>{title}</h2>
      <div class='meta'>
        <span>{formatNewsDate(date)}</span>
        <span>En: {portal}</span>
      </div>
      <p class='description'>{description}</p>
      <span class='link animated-underline'>
        Leer noticia <span class='arrow'>→</span>
      </span>
    </div>
  </article>
</a>
