---
import { Image } from 'astro:assets'
import './styles.css'

const { news } = Astro.props
---

<article class='news'>
  <h1 class='title'>{news.title}</h1>

  <div class='meta'>
    <time datetime={news.date}>{news.date}</time>
    <span>
      Publicado originalmente en
      <a href={news.url} target='_blank' rel='noopener noreferrer'>
        {news.portal}
      </a>
    </span>
  </div>

  {
    news.images && (
      <figure class='central-image-container'>
        <Image
          alt={news.title}
          class='central-image'
          inferSize
          loading='eager'
          src={news.images[0]}
        />
        <figcaption class='central-image-caption'>LABEL</figcaption>
      </figure>
    )
  }

  <div class='content' set:html={news.content} />
</article>
